body {
    background-color: white;
    font-family:'Times New Roman';
}
a { color: blue; }
i { font-style: italic; }
b { font-weight: bold; }
small { font-size: 90%; }
big { font-size: 110%; }
pre {
    font-family: 'Courier New';
    background-color: lightgray;
}